#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Forecast {
  display: flex;
}

.Card {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.425);
  text-align: center;
  
}

.card-bottom-container {
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.main-icons {
  width: 100px;
  padding: 40px;
}

.conditions {
  font-size: small;
  margin-bottom: 1.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-tile {
  display: flex;
  flex-direction: column;
  padding-left: .55rem;
  padding-right: .55rem;
  padding-bottom: 1rem;

  > p {
    margin: 0;
    
  }
}